<!DOCTYPE html>
<html>
<head>
    <title>List of Agents</title>
</head>
<body>
    <h1>List of Agents</h1>
    <table>
        <tr>
            <th>Agent ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Firm</th>
            <th>Start Date</th>
        </tr>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.agentId }}</td>
                <td>{{ agent.name }}</td>
                <td>{{ agent.phone }}</td>
                <td>{{ agent.firmId }}</td>
                <td>{{ agent.dateStarted }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

